<% layout("/layout/boilerplate.ejs") %>
<body>
<form action="/updateContact/<%=contact._id%>?_method=put" method="post">
    <div class="mb-3">
        <label for="Firstname" class="form-label" >First Name</label>
        <input type="text" class="form-control" id="Firstname" placeholder="Enter your first name" name="first" value=<%=contact.fisrt_name%>>
      </div>
      <div class="mb-3">
        <label for="Lastname" class="form-label" >Last Name</label>
        <input type="text" class="form-control" id="Lastname" placeholder="Enter your Last name" name="last" value=<%=contact.last_name%>>
      </div>

    <div class="mb-3">
        <label for="Email" class="form-label" >Email address</label>
        <input type="email" class="form-control" id="Email" placeholder="name@example.com" name="email" value=<%=contact.email%>>
      </div>
      <div class="mb-3">
        <label for="Mobile" class="form-label">Mobile Number</label>
        <input type="number" class="form-control" id="Mobile" placeholder="Enter your mobile number"  name="mobile" value=<%=contact.mobile_Number%>>
      </div>

      <div class="create-container2"><button class="btn btn-success" type="submit">Update</button></div>
    </form>
</body>
</html>

